<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="EvaluacionG5.NET" value="SqlServer|Password=EvaluacionAsimet;Persist Security Info=True;User ID=EvaluacionAsimet;Initial Catalog=EvaluacionAsimet ;Data Source=LAPTOP-9UBFTC3G; Language=us_english"/>
    <!--<add key="EvaluacionG5.NET" value="SqlServer|Password=Grupo500$%;Persist Security Info=True;User ID=DesempenoAsimet;Initial Catalog=DesempenoAsimet;Data Source=tcp:grupo5eus.database.windows.net; Max Pool Size=5000; Language=us_english"/>--> 
    <add key="MostrarKPI" value="false" />
  </appSettings>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
    <globalization uiCulture="es" culture="es-MX" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>